html {
  background-color: #F5F5F5;
}

body {
  font-family: Arial;
  margin: 0 auto;
  padding: 20px 20px 20px 20px;
  text-align: center;
}

button {
  background-color: #3030FF;
  padding: 6px 6px;
  font-size: 14px;
  color: white;
  border: none;
}

button:active {
  background-color: #0000FF;
}

button:hover {
  background-color: #5050FF;
}

input {
  flex: auto;
  padding: 6px 6px;
}

#search-bar {
  display: flex;
  flex-direction: row;
}

#search-results {
  width: 100%;
  margin-top: 10px;
}

#search-results form {
  display: flex;
  flex-direction: row;
}

#search-results button {
  flex: auto;
  background-color: white;
  border: 1px solid lightgray;
  color: black;
  text-align: left;
}

#search-results button:hover {
  background-color: lightgray;
}

#search-results button:active {
  background-color: gray;
}

#search-results img {
  float: left;
  width: 48px;
  height: 48px;
  margin: 4px 8px 4px 4px;
}

#search-results h1 {
  font-size: 16px;
  margin: 8px 0 4px 0;
}

#search-results h2 {
  font-size: 14px;
  margin: 0;
}

#login-spotify {
  background-color: #1DB954;
  border-radius: 6px;
  border: none;
  padding: 8px 12px;
  margin: auto;
  display: block;
}

#login-spotify:hover {
  background-color: #39E376;
}

#login-spotify:active {
  background-color: #0F6B2F;
}

#room-field::-webkit-inner-spin-button, #room-field::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

#room-code-label {
  font-size: 48px;
  margin: 0 0;
}
