<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SongRequest</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
      var socket = io();
      socket.on('connect', function() {
        socket.emit('host_connecting', {'room_code': {{room_code}} })
      });
    </script>
  </head>
  <body>
    <p>To request songs, enter this room code:</p>
    <p id="room-code-label"> {{ room_code }} </p>
  </body>
</html>
